html{
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}
/* Reset para rems 62.5 == 10px de 16px */
html{
    font-size: 62.5%; 
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/* GLOBALES */
img{
    max-width: 100%;
}
.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6;
}
/* UTILIDADES */
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300{
    font-weight: 300;
}
.centrarTexto{
    text-align: center;
}
.dBlock{
    display: block!important;
}
/*botones*/
.boton{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
}
.boton:hover{
    cursor: pointer;
}
.botonAmarillo{
    background-color: #e08709;
}
.botonVerde{
    background-color: #71b100;
}
/* HEADER */
.MyHeader{
    background-color: #333;
    padding: 1 rem 0 3rem 0;
}
.MyHeader.inicio{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}
.contenidoHeader{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenidoHeader h1{
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}
.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    
}
/* NAVEGACION */
.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.navegacion a:hover{
    color: #71b100;
}
.navegacion a:last-of-type{
    margin-right: 0;   
}
/* Iconos Nosotros */
.encabezadoNosotros{
    font-weight: 300;
    text-align: center;
}
.iconosNosotros{
    display: flex;
    justify-content: space-between;
}
.icono{
    flex-basis: cal(33.33% - 1rem);
    text-align: center;
}
.icono h3{
    text-transform: uppercase;
}
/* anuncios */
.contenedorAnuncios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.anuncio{
    flex: 0 0 calc(33.3% - 1rem);
    border: solid #b5b5b5 1px;
    background-color: #f5f5f5; 
    margin-bottom: 2rem;
}
.contenidoAnuncio{
    padding: 2rem;
}
.contenidoAnuncio h3, .contenidoAnuncio p{
    margin: 0;
}
.precio{
    color: #71b100;
    font-weight: 700;

}
.iconoCaracteristicas{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.iconoCaracteristicas li{
    margin-right: 2rem;    
    display: flex;
}
.iconoCaracteristicas li img{
    margin-right: 2rem;
    
}
.verTodas{
    display: flex;
    justify-content: flex-end;

}
/*contacto home*/
.imagen-contacto{
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}
.contenidoContacto{
    flex: 1;
    color: #ffffff;
}
.contenidoContacto p{
    font-size: 1.8rem;
}
/*seccion inferior*/
.seccionInferior{
    display: flex;
    justify-content: space-between;
}
.seccionInferior .blog{
    flex-basis: 60%;
}
.seccionInferior .testimoniales{
    flex-basis: calc(40% - 2rem);
}

.entradaBlog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.entradaBlog:last-of-type{
    margin-bottom: 0;
}
.entradaBlog .imagen{
    flex-basis: 40%;
}
.entradaBlog .textoEntrada{
    flex-basis: calc(60% - 3rem);
}
.textoEntrada a{
    color: #000;
    text-decoration: none;
}
.textoEntrada h4{
    margin: 0;
    line-height: 1.4;
}
.textoEntrada h4::after{
    content:"";
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71b100;
    margin-top: 1rem;
}
.textoEntrada span{
    color: #e08709;
}
/*testimoniales*/
.testimonial{
    background-color: #71b100;
    font-size: 2.4rem;
    padding: 2rem;
    color: #ffffff;
    border-radius: 2rem;
}
.testimonial p{
    text-align: right;
}
.testimonial blockquote::before{
    content: "";
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}
.testimonial blockquote{
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}
/*footer*/
.siteFooter{
    background-color: #333333;
    margin: 0;
}
.contenedorFooter{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}
.copyRight{
    margin: 0;
    color: #ffffff;
}
/*paginas internas*/
.contenidoNosotros{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-column-gap: 2rem;
}
.textoNosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}
.contenidoCentrado{
    max-width: 80rem;
}
.resumenPropiedad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*contacto*/
form p{
    font-size: 1.2rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}
legend{
    font-size: 2rem;
    color: #4f4f4f;
}
label{
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="radio"]{
    width: auto;
    margin: 0;
}
select {
    -webkit-appearance: none;
    appearance: none;
}
textarea{
    height: 20rem;
}
.formaContacto{
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}